/* Word Styles */
.word {
  color: var(--sub-color);
  font-variant: no-common-ligatures;
  border-bottom: 2px solid transparent;
  font-size: 1.5rem;
  margin: 0.37rem;
  line-height: 1.5rem;
}

.word * {
  transition: all 0.25s ease;
}
