.app {
  display: flex;
  justify-content: space-around;
}

.center {
  max-width: 1000px;
  display: grid;
  grid-auto-flow: row;
  min-height: 100vh;
  padding: 2rem;
  gap: 2rem;
  align-items: center;
  z-index: 999;
  grid-template-rows: auto 1fr auto;
}
