@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

:root {
  --bg-color: #323437;
  --main-color: #e2b714;
  --caret-color: #e2b714;
  --sub-color: #646669;
  --text-color: #d1d0c5;
  --error-color: #ca4754;
  --error-extra-color: #7e2a33;
  --colorful-error-color: #ca4754;
  --colorful-error-extra-color: #7e2a33;

  --roundness: 0.5rem;
  --font: 'Roboto Mono';
  --scroll-padding-top: 2rem;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-corner {
  background: var(--sub-color);
}

::-webkit-scrollbar-thumb {
  background: var(--sub-color);
  transition: all 0.25s ease;
  border-radius: 2px !important;
}

::-webkit-scrollbar-track {
  background: 0 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: var(--text-color);
  overflow-x: hidden;
  background: var(--bg-color);
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
